html{
    font-size: 20px;
    }   

body {
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
    }

h1 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    letter-spacing: 1.2em;
    border-bottom: solid 3px rgb(115, 115, 114);
    text-shadow: 2px 2px 2px grey;
    }


.skyblue{
    color: skyblue;
        }

.pink{
    color:rgb(255, 192, 203);
    }

#basic p {
    font-weight: bold;
        }





その他の装飾
テキストは、全て中央寄せにしてください。
h1の文字間は、文字の大きさに応じて1.2倍になるようにしてください。
h1に影を付けてください。影の大きさや色は自由です。
h1の下に3px（カラー：rgb(115, 115, 114)）の実線を付けてください。
「名前」～「血液型」までの要素をid属性basicのdivタグで囲います。
次に子孫要素の考え方を利用して、「侍太郎」「1990年1月1日」「O型」を太字にしてください。
それ以外のp要素は太字にならないよう注意してください。


フォントサイズが正しく設定されている
すべてのテキストは中央寄せになっている
h1には下線と影がついている
「侍太郎」「1990年1月1日」「O型」が太字になっている（それ以外のp要素は太字ではないことが条件）
合格基準
本課題の目標は、課題を通して以下の項目が身についているかどうか確認することです。



4	すべてのテキストは中央寄せになっている
5	h1の文字間は、文字の大きさに応じて1.2倍になるように設定されている
6	h1には下線と影がついている
7	「侍太郎」「1990年1月1日」「O型」が太字になっている（※）
※それ以外のp要素は太字ではないことが条件


「名前」～「血液型」までの要素をid属性basicのdivタグで囲います。
次に子孫要素の考え方を利用して、「侍太郎」「1990年1月1日」「O型」を太字にしてください。
それ以外のp要素は太字にならないよう注意してください。